@mixin bp($point) {
  
  $bp-tablet: "(min-width: 767px)";
  $bp-desktop: "(min-width: 1024px)";

  @if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == desktop {
    @media #{$bp-desktop} { @content; }
  } 
}


.user-index, .trip{
	.hero{
		@include bp(tablet){height:300px;
			h1{font-size:54px;line-height:60px;}
		}
		@include bp(desktop){height:400px;}
	}
	.trip-content{
		@include bp(desktop){width: 900px;margin: 20px auto;}
	}
	section.posts{
		.post.answer{
			svg{fill:#feda7a;}
		}
		@include bp(desktop){width: 900px;margin: 20px auto;}
		.post{
			@include bp(desktop){padding-left:10px;}
		}
		.post .question {
			@include bp(desktop){width:80%}
		}
	}
}

.register, .home, .login{
	header{background:transparent;position:fixed;width:100%;z-index:10;
		.hamburger, #profile{display:none;}
	}
	.container{width:100%;}
}

.register, .add {
	.forms-container .forms-content{
		@include bp(tablet){ max-width:400px; margin:0 auto;}
	}
}

.trip .plus-link.rated .plus{cursor:pointer;fill:#FEDA7A;}
