@mixin bp($point) {
  
  $bp-tablet: "(min-width: 767px)";
  $bp-desktop: "(min-width: 1024px)";

  @if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == desktop {
    @media #{$bp-desktop} { @content; }
  } 
}


.user-index{
	.hero{
		@include bp(tablet){height:300px;}
		@include bp(desktop){height:400px;}
	}
	section.posts{
		.post.answer{
			svg{fill:#FED567;}
		}
	}
}